.about {
  padding-top: 183px;
  padding-bottom: 183px;
  position: relative;
  min-height: 600px;
  background-color: #d8ecfe;
}

.about-title,
.about-description {
  margin: 0;
  max-width: 50%;
}

.about-title {
  position: relative;
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: 700;
  line-height: 115%;
}

.about-title::after {
  content: '';
  position: absolute;
  top: 115px;
  right: -550px;
  transform: translateY(-50%);
  width: 446px;
  height: 446px;
  border-radius: 50%;
  background-color: #c4e2ff;
}

.about-title::before {
  content: '';
  position: absolute;
  top: -128px;
  right: -465px;
  width: 273px;
  height: 608px;
  background: url('../../../assets/about-man.svg') no-repeat;
  z-index: 1;
}

.about-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
}
